<form class="ui grid form" id='data_collection_tab' method='post'>
  <div class="row">
  <div class="four wide column">
    <h3>Brain area</h3>
    <div class="ui gray divider"></div>
    <div class="ui fluid left large secondary vertical pointing menu">
      {{#each collection}}
        <a class="{{#ifCond @key 0}}active{{/ifCond}} item" data-tab="data-{{@key}}" name="c-{{@key}}">
          {{brain_area}}
        </a>
      {{/each}}
    </div>
  </div>

  <div class="four wide column">
  <h3>Behavior</h3>
  <div class="ui gray divider"></div>
    {{#each collection}}
    <div class="ui {{#ifCond @key 0}}active{{/ifCond}} tab text" data-tab="data-{{@key}}">
      <div class="inline fields">
        <div class="ui fluid left large secondary vertical menu">
          {{#each behavior}}
          <a class="{{#ifCond @key 0}}active{{/ifCond}} item" data-tab="data-{{@../key}}/{{@key}}" name="b-{{@../key}}/{{@key}}">
            {{name}}
          </a>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="four wide column">
  <h3>Ephys</h3>
  <div class="ui gray divider"></div>
  {{#each collection}}
    {{#each behavior}}
    <div class="ui {{#ifCond @../key 0}}{{#ifCond @key 0}}active{{/ifCond}}{{/ifCond}} tab text" data-tab="data-{{@../key}}/{{@key}}">
      {{#each ephys}}
      <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" name="{{name}}" class="hidden">
          <label>{{name}}</label>
        </div>
      </div>
      {{/each}}
    </div>
    {{/each}}
  {{/each}}
  </div>

  <div class="four wide column">
  <h3>Imaging</h3>
  <div class="ui gray divider"></div>
  {{#each collection}}
    {{#each behavior}}
    <div class="ui {{#ifCond @../key 0}}{{#ifCond @key 0}}active{{/ifCond}}{{/ifCond}} tab text" data-tab="data-{{@../key}}/{{@key}}">
      {{#each imaging}}
      <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" name="{{name}}" class="hidden">
          <label>{{name}}</label>
        </div>
      </div>
      {{/each}}
    </div>
    {{/each}}
  {{/each}}
  </div>
  </div>
</form>
<div class="ui gray divider"></div>
<div class="ui right floated blue submit button" tabindex="0" id='select_data'>View documents</div>
<br>
<br>
<br>
<div class="ui container" id='data_collection'>
</div>
<br>
<br>
<br>

<script type="text/javascript">
  $(document).ready(function() {
    $('#data_collection_tab .menu .item').tab({context: $("#data_collection_tab")});
    $('#data_collection_tab .menu .item').on('click', function(){
      $('#data_collection_tab .checkbox').checkbox('uncheck');
    });
    $('#select_data').on('click', function(){
      $.getScript("/javascripts/datasetList.js");
    });
  });
</script>
