<div class="ui grid" id='data_collection_tab'>
  <div class="four wide column">
    <div class="ui fluid left large secondary vertical pointing menu">
      {{#each collection}}
        <a class="{{#ifCond @key 0}}active{{/ifCond}} item" data-tab="data-{{@key}}" )>
          {{name}}
          <div class="ui yellow label">
            {{datasets.length}}
          </div>
        </a>
      {{/each}}
    </div>
  </div>
  <div class="twelve wide column">
    {{#each collection}}
      <div class="ui {{#ifCond @key 0}}active{{/ifCond}} tab text" data-tab="data-{{@key}}">
        <h2>{{name}} <span class="ui red label flotated right">{{label}}</span></h2>
        <div class="ui accordion">
          <h3>{{description}} </h3>
          <div class="title"><i class="dropdown icon"></i> Read more
          </div>
          <div class="content">
            <p>{{description_detail}}</p>
            <img src="{{description_images}}" height="150" class="ui centered image">
            <br><br>
          </div>
        </div>
        <h3>Related datasets <span class="ui large teal circular label">{{datasets.length}}</span></h3>
        <ul class="ui list">
          {{#each datasets}}
            <li>
              <h3>{{Name}}</h3></li>
            <span class="ui blue label">{{Label}}</span>
            {{#each OtherLabel}}
              <span class="ui gray label">{{this}}</span>
            {{/each}}
            <br> {{Description}}
            <br> <br> <div class="ui gray label">
              References
            </div>
            <ul class="ui list">
              {{#each Reference}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
            <span class="ui gray label">Link</span> <a href="{{Linkhref}}">{{Link}}</a> 
            <br>
            <br>
          {{/each}}
        </ul>
        <br><br><br><br>
      </div>
    {{/each}}
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#data_collection_tab .menu .item').tab({
      context: $("#data_collection_tab")
    });
  });
</script>
