<h3>Instructions
</h3>
<!-- Please follow the instruction below to select a dataset for display.
<br>
1. Click on a brain area and then click on a task behavior;<br>
2. Select one or more ephys or imaging recording;<br>
3. Select one or more spike-to-imaging or imaging-to-spike models (the models will be matched to selected imaging recordings);<br>
4. Click "Display".<br> -->
To select a dataset for display, click on a brain area and then click on a task behavior. 
Select one or more ephys or imaging recordings. Click “Display”. You can also add one or more spike-to-imaging 
or imaging-to-spike models (the models will be automatically matched to the selected datasets).<br>
<div class="ui gray divider"></div>
<form class="ui grid form" id='nonFormList' method='post'>
  <div class="row">
  <div class="four wide column">
    <h3>Brain area</h3>
    <div class="ui gray divider"></div>
    <div class="ui fluid left large secondary vertical pointing menu">
      {{#each nonFormList}}
        <a class="{{#ifCond @key 0}}active{{/ifCond}} item" data-tab="data-{{@key}}">
          {{brain_area}}
        </a>
      {{/each}}
    </div>
  </div>

  <div class="four wide column">
  <h3>Behavior</h3>
  <div class="ui gray divider"></div>
    {{#each nonFormList}}
    <div class="ui {{#ifCond @key 0}}active{{/ifCond}} tab text" data-tab="data-{{@key}}">
      <div class="ui fluid left large secondary vertical menu">
        {{#each behavior}}
        <a class="{{#ifCond @key 0}}active{{/ifCond}} item" data-tab="data-{{@../key}}/{{@key}}">
          {{name}}
        </a>
        {{/each}}
      </div>
    </div>
    {{/each}}
  </div>

  <div class="four wide column">
  <h3>Ephys</h3>
  <div class="ui gray divider"></div>
  {{#each nonFormList}}
    {{#each behavior}}
    <div class="ui {{#ifCond @../key 0}}{{#ifCond @key 0}}active{{/ifCond}}{{/ifCond}} tab text" data-tab="data-{{@../key}}/{{@key}}">
      {{#each ephys}}
      <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" name="data/{{name}}/{{picname}}" class="hidden">
          <label>{{name}}</label>
        </div>
      </div>
      {{/each}}
    </div>
    {{/each}}
  {{/each}}
  </div>

  <div class="four wide column">
  <h3>Imaging</h3>
  <div class="ui gray divider"></div>
  {{#each nonFormList}}
    {{#each behavior}}
    <div class="ui {{#ifCond @../key 0}}{{#ifCond @key 0}}active{{/ifCond}}{{/ifCond}} tab text" data-tab="data-{{@../key}}/{{@key}}">
      {{#each imaging}}
      <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" name="data/{{name}}/{{picname}}" class="hidden">
          <label>{{name}}</label>
        </div>
      </div>
      {{/each}}
    </div>
    {{/each}}
  {{/each}}
  </div>
  </div>
  <br><br>
  <div class="row">
  <div class="eight wide column">
  <h3>Spike to imaging models</h3>
  <div class="ui gray divider"></div>
  {{#each nonS2CModelList}}
    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" name="model/S2C {{name}}" class="hidden">
        <label>{{name}}</label>
      </div>
    </div>
    {{/each}}
</div>
<div class="eight wide column">
  <h3>Imaging to spike models</h3>
  <div class="ui gray divider"></div>
  {{#each nonC2SModelList}}
    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" name="model/C2S {{name}}" class="hidden">
        <label>{{name}}</label>
      </div>
    </div>
    {{/each}}
    {{#ifCond nonC2SModelList.length 0}}
    <h3><i class="hourglass start icon"></i>Underconstruction</h3>
    {{/ifCond}}
  </div>
</div>
</form>
<div class="ui gray divider"></div>

<br>
<button class="ui right floated blue button" id='compare_btn'>Display</button>
<br>
<br>
<table class="ui celled table">
    <thead>
        <tr>
            <th colspan="5">
              Benchmark table
            </th>
      </tr>
      <tr>
          <th>Dataset Name</th>
          <!-- <th>Cell #</th> -->
          <th>Fraction selective neuron</th>
          <th>Peakness</th>
          <th>PC content</th>
          <th>Decodability</th>
    </tr>
  </thead>
  <tbody id="nonFormListResults">
  </tbody>
</table>


<br>
<br>
<form class="ui form" id='nonFormDistrList' method='post'>
  <table class="ui celled table">
    <thead>
      <tr>
        <th colspan="5">
          Distribution table
          <button class="ui right floated tiny grey button" id='refresh_btn'>Update</button>
        </th>
      </tr>
      <tr>
        <th>Dataset Name</th>
        <th>Fraction selective neuron</th>
        <th>Peakness</th>
        <th>PC content</th>
        <th>Decodability</th>
      </tr>
      <tr>
        <th>
        </th>
        {{#each nonsimDistrList}}
        <th>
          <div class="grouped fields">
            {{#each list}}
            <div class="field"> <div class="ui radio checkbox">
              <input type="radio" {{#ifCond @key 0}}checked="checked"{{/ifCond}} name="{{../name}}" value="{{value}}">
              <label>{{label}}</label>
            </div> </div>
            {{/each}}
          </div>
        </th>
        {{/each}}
      </tr>
    </thead>
    <tbody id="nonFormDistrListResults">
    </tbody>
  </table>
</form>

<script type="text/javascript">
  $(function(){
    $('#nonFormList .menu .item').tab({context:$("#nonFormList")});
    $('#nonFormList .menu .item').on('click', function(){
      $('#nonFormList .checkbox').checkbox('uncheck');
    });
    $('#nonFormListResults').load('/results/_non_ephys_ca_s2c_form_empty.html');
    $('#nonFormDistrListResults').load('/results/_non_ephys_ca_s2c_form_empty.html');
    $('#compare_btn').on('click', function(event){
      event.preventDefault();
      $.getScript("/javascripts/nonFormList.js");
      $.getScript("/javascripts/nonFormDistrList.js");
    });
    $('#refresh_btn').on('click', function(event){
      event.preventDefault();
      $.getScript("/javascripts/nonFormDistrList.js");
    });
  });
</script>
