<form class="ui grid form" id='nonFormList' method='post'>
  <div class="four wide column">
    <h3>Datasets</h3>
    <div class="ui gray divider"></div>
    <div class="ui fluid left large secondary vertical pointing menu">
      {{#each nonFormList}}
        <a class="{{#ifCond @key 0}}active{{/ifCond}} item" data-tab="data-{{@key}}")>
          {{name}}
        </a>
      {{/each}}
    </div>
  </div>
  <div class="four wide column">
    <h3>Recordings</h3>
    <div class="ui gray divider"></div>
    {{#each nonFormList}}
      <div class="ui {{#ifCond @key 0}}active{{/ifCond}} tab text" data-tab="data-{{@key}}">
          {{#each matched}}
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" name="data/{{../name}}/{{name}}" class="hidden">
              <label>{{name}}</label>
            </div>
          </div>
          {{/each}}
      </div>
    {{/each}}
  </div>
  <div class="four wide column">
    <h3>Spike to imaging models</h3>
    <div class="ui gray divider"></div>
    {{#each nonS2CModelList}}
      <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" name="model/S2C {{name}}" class="hidden">
          <label>{{name}}</label>
        </div>
      </div>
      {{/each}}
  </div>
  <div class="four wide column">
    <h3>Imaging to spike models</h3>
    <div class="ui gray divider"></div>
    {{#each nonC2SModelList}}
      <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" name="C2S {{name}} model" class="hidden">
          <label>{{name}}</label>
        </div>
      </div>
      {{/each}}
      {{#ifCond nonC2SModelList.length 0}}
      <h3><i class="hourglass start icon"></i>Underconstruction</h3>
      {{/ifCond}}
  </div>
</form>
<div class="ui gray divider"></div>
<button class="ui right floated blue button" id='compare_btn'>Compare</button>
<br>
<br>
<table class="ui celled striped five column table">
    <thead>
        <tr>
            <th colspan="5">
                Benchmark table
            </th>
      </tr>
      <tr>
          <th>Dataset Name</th>
          <th>Fraction selective neuron</th>
          <th>Peakness</th>
          <th>PC content</th>
          <th>Decodability</th>
    </tr>
  </thead>
  <tbody id="nonFormListResults">
  </tbody>
</table>


<script type="text/javascript">
  $(function(){
    $('#nonFormList .menu .item').tab({context:$("#nonFormList")});
    $('#nonFormListResults').load('/results/_non_ephys_ca_s2c_form_empty.html');
    $('#compare_btn').on('click', function(event){
      event.preventDefault();
      $.getScript("/javascripts/nonFormList.js");
    });
  });
</script>
